if SHIELD_JDCORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "jdcorne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_JDCORNE_LEFT || SHIELD_JDCORNE_RIGHT

config ZMK_SPLIT
    default y

endif